html {
	/*overflow-x: hidden;*/
	height: 100%; /* makes sure our HTML takes up 100% of the browser window */
    font-size: 100%;
}
body {
    color:#333333;
    min-height: 100%;
    font-family: "Roboto", sans-serif;    
 }

section.Gradient{
	background: -webkit-linear-gradient(0deg, rgba(242, 242, 242, 1), rgba(255, 255, 255, 1));
}

.container {
 	margin-left: auto;
 	margin-right: auto;
 	position: relative;
 	
 }

 .container:before, .container:after {
 	content: " ";
 	display: table;
 }

 .container:after {
 	clear: both;

 }


header {
  
	position: relative;
	padding-top: 20px;
	padding-bottom: 20px;
	
}
header a.site-logo img {
	max-width: 100%;
 	position: relative;
 	margin: 0 20px;
 }

 header nav ul {
   display:inline;
   text-align: right;
   float:right;
   margin:0 50px;
 }
 header nav ul > li {
   list-style-type: none;
   display: inline-block;
   margin:0 15px 0 15px;
 }
 header nav ul > li.btn-outline {
   margin: 0 0 0 15px;
   padding:10px 15px;
   border:2px solid #333;
   border-radius: 4px;
   transition: all 0.2s ease-in-out;
 }
 header nav ul > li.btn-outline:hover {
   background:#ffc900;
   border: 2px solid #ffc900;
 }
 header nav ul > li > a {
	font-size: 16px;
	font-weight: 700;
    color:#333;
    text-decoration: none;
 }

 header a.btn{
 	margin: auto;
   padding:10px 15px;
   border:2px solid #333;
   border-radius: 4px;
   transition: all 0.2s ease-in-out;
 	text-align:center;
 	font-size: 16px;
	font-weight: 700;
    color:#333;
    text-decoration: none;
 }
 
 header a.btn:hover{
 	background:#ffc900;
 	border: 2px solid #ffc900;
 }

 

 header div.hero{
 	margin: auto 15px;
    width: 100vw;
    height: 100vw;
     position: relative;  
     background-image: url(../images/hero.png);
     background-repeat: no-repeat;
     background-position: center center;
     background-size: cover;
 }

 header .hero-content{
 	top: 42%;
 	margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }

 header .intro {
 	 margin: auto;
 	 width: 100vw;
 	 position: relative;
 	 align-content: center;	 
 }

 header .intro h1{
 	 margin: 5px auto;
 	 padding: 5px 0;
     width: 100%;                    /* makes sure the title inhabits the full width of its container */
     text-align: center;             /* aligns text in the horizontal center of the element */
     font-size: 4rem;                /* specifies the size of the font in root em units */
     font-weight: 700;               /* makes the font thinner or lighter weight */
     align-content: center;   
 }

 header .intro h3{   
 	 margin: 5px auto;
 	 padding: 5px 0;             
     width: 100%;                    /* makes sure the title inhabits the full width of its container */
     text-align: center;             /* aligns text in the horizontal center of the element */
     font-size: 1.2rem;                /* specifies the size of the font in root em units */
     font-weight: 400;               /* makes the font thinner or lighter weight */
 }




/* description */

header .description {
	position: relative;
	text-align: center;
   display:block;
   position:relative;
   width: 100vw;
   justify-content: center;
   flex-direction: row;
}
 
 .description ul {
   margin: 0 auto;
   padding: 1em;
 }
 .description ul li {
   list-style-type: none;
   display: inline-block;
   margin: 0 auto;
   padding: 10px;
 }
 .description i {
   color:#333333;
   font-size:36px;
   margin:0;
   padding: 5px;
   vertical-align: middle;
 }
 .description h4 {
   margin: 5px auto;
   padding: 5px;
   font-size: 20px;
   font-weight: 700;
 }

 .description p {
 	margin: 5px auto;
   padding: 5px;
   font-size: 20px;
   font-weight: 400;
 }

.one-third {
 	display: inline-block;
 	position:relative;
 	margin: 20px auto;
 	
 }


 .benefits {
 	margin-top: 100px;
 	margin-bottom: 100px;
	padding-top: 100px;
	padding-bottom: 100px;
    position:relative;
}

.benefits h1{
	text-align: center;
	margin: 50px auto;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	font-size: 3em;
	font-weight: 700;
}


.benefits-wrapper {
	margin: 100px auto;
	display: flex;
	position: relative;
	width: 100vw;
	align-items: center;
	justify-content: center;
}

.benefits-image{
	position: relative;
	max-width: 100%;
    display: flex;
    margin: 20px;
    padding:20px;
}


.benefits-content{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	max-width: 550px;
	margin:20px 0;
}

.benefits-content p{
	margin: 0 20px;
	padding: 5px;
	font-weight: 300;
	font-size: 20px;
}

.benefits-content h2, h4{
	margin:0 20px;
	padding: 5px;
}

.benefits-content h2{
	font-weight: 900;
	font-size: 40px;
}

.benefits-content h4{
	font-weight: 400;
	font-size: 28px;
}


 /*-----------------------Testimonials----------------------------------*/


.Testimonials{
  padding-top: 20px;
  padding-bottom: 100px;
  position:relative; 
}

.Testimonials h1 {
	display: flex;
  flex-wrap: wrap;
  justify-content: center;
	margin: 20px auto;
	padding: 10px;
    text-align: center;
	margin: 50px auto;
	font-size: 3em;
	font-weight: 700;
}

.Testimonials .blackbox {
  text-align: center;
  padding: 40px;
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: -webkit-linear-gradient(180deg, rgba(255, 201, 0, 1), rgba(255, 240, 130, 1));
  position: relative;
  min-height: 300px;
}

.Testimonials .quote p{
	padding: 40px;
	font-size: 20px;
  font-weight: 400;
  font-style: italic;
  position: relative;
 }

/*-----------------------Last-section----------------------------------*/

.Last-section{
  margin:auto;
  padding-bottom: 200px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Last-section h1{
  max-width: 550px;
  text-align: center;
  font-size: 2.5em;
  font-weight: 700;
}

.Last-section a{
 	margin: auto;
   padding:10px 15px;
   border:2px solid #333;
   border-radius: 4px;
   transition: all 0.2s ease-in-out;
 	text-align:center;
 	font-size: 16px;
	font-weight: 700;
    color:#333;
    text-decoration: none;
 }
 
 .Last-section a:hover{
 	background:#ffc900;
 	border: 2px solid #ffc900;
 }



 /*-----------------------Footer----------------------------------*/

 footer {
   background-color: #e0e0e0;
   color: #333;
   
   position: relative;
   overflow: hidden;
   z-index: 0;
 }


 .links1{
 	display: flex;
 	justify-content: center;
  flex-wrap: wrap;
 }

footer nav {
	display: inline-block;
}

 footer nav ul {
   font-size:14px;
   line-height: 32px;
   font-weight:400;
   text-align: left;
   margin: 20px auto;
 }

 footer nav ul li {
   list-style-type: none;
 }

 footer nav ul li a {
   color:#333;
   text-decoration: none;
 }

footer nav ul li a strong{
   color:#333;
   text-decoration:none;
   font-weight: 600;
 }

footer .left-footer-block p{
	float: left;
   font-size:12px;
   line-height: 32px;
   font-weight:400;
   text-align: left;
   margin: 20px 50px;
}

 footer .right-footer-block {
 	float: right;
   background-color: transparent;
 }
 footer img{
   margin:20px 50px;
   display: inline-block;
 }

 .socialmedia hr{opacity: 0.4;
 	background-color: #333;
 	height: 1px;
 	border:0;

 }

.socialmedia{
	width: 100%;
	float: right;
}

.socialmedia ul {
	padding-top: 10px;
	padding-bottom: 10px;
   text-align: right;
   margin:0 50px;
 }
 .socialmedia ul > li {font-size: 30px;
 	color:#333;
   list-style-type: none;
   display: inline-block;
   margin:0 15px 0 15px;
 }